<%= render partial: "layouts/navbar" %>

<div class="container-fluid">
    <div class='col-md-6 col-md-offset-3'>
        <% if @games %>
            <% @games.each do |game| %>
                    <div id='game-box-content'>
                        <div class='row'>
                            <div class="col-md-6 text center">
                                <%= "<id: #{game.id} >"%> <br>
                                <%= game.title %>
                            </div>
                            <div class="col-md-6 text center">
                                <%= link_to "Manage game", edit_game_path(game.id), class: 'btn btn-primary' %>
                            </div>
                            <div class="col-md-1 text-center"><%= link_to "Delete", game_path(game),
                                method: :delete, class: 'btn btn-danger' %></div>    
                            </div>
                        </div>
                        <p class='status'> <%= "#{game.status}" %> </p>                                
                    </div>
                </div>
            <% end %>  
        <% end %>
        <div><%= link_to "New game", new_game_path, class: 'btn btn-primary' %></div>
    </div>
</div>